<link href="/GitMining/static/css/iso.css" rel="stylesheet">
<link href="/GitMining/static/css/github.css" media="all" rel="stylesheet">
<link href="/GitMining/static/css/repo.css" type="text/css" rel="stylesheet">
<!-- 引入 echarts.js -->
<script src="/GitMining/static/js/echarts.js"></script>

<nav class="top-nav">
    <div class="container">
        <div class="nav-wrapper"><a class="page-title">Repository Charts</a></div>
    </div>
</nav>

<div class="Chart1">
    <div id="Language" align="center" style="width: 1000px;height: 800px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('Language'));
        // 指定图表的配置项和数据
        var option = {
            tooltip: {},
            legend: {
                data:['Numbers of Repository in Different Languages']
            },
            xAxis: {
                name: 'Language',
                data: ['Ruby','Python','JavaScript','C','Perl','PHP','Java','C++','HTML','Shell','others']
##                data: $result.language
            },
            yAxis: {
                name: 'Numbers of Repository',
            },
            series: [{
                name: 'Numbers of Repository in Different Languages',
                type: 'bar',
                data: $result.number
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</div>

<div class="Chart2">
    <div id="CreateTime" align="center" style="width: 800px;height: 600px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('CreateTime'));
        // 指定图表的配置项和数据
        var option = {
            title : {
                text: 'The Distribution of Create Time',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                right: 'right',
                data: ['2007','2008','2009','2010']
            },
            series : [
                {
                    name: 'The Distribution of Create Time',
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:[
                        {value:$result.get('2007'), name:'2007'},
                        {value:$result.get('2008'), name:'2008'},
                        {value:$result.get('2009'), name:'2009'},
                        {value:$result.get('2010'), name:'2010'},
                    ],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</div>

<div class="Chart3">
    <div id="CreateSeason" align="center" style="width: 800px;height: 600px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('CreateSeason'));
        // 指定图表的配置项和数据
        var option = {
            title : {
                text: 'The Distribution of Create Season',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                right: 'right',
                data: ['spring','summer','fall','winter']
            },
            series : [
                {
                    name: 'The Distribution of Create Season',
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:[
                        {value:$result.get('spring'), name:'spring'},
                        {value:$result.get('summer'), name:'summer'},
                        {value:$result.get('fall'), name:'fall'},
                        {value:$result.get('winter'), name:'winter'},
                    ],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</div>

<div class="Chart4">
    <div id="Contributors" align="center" style="width: 1000px;height: 800px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('Contributors'));
        // 指定图表的配置项和数据
        var option = {
            tooltip: {},
            legend: {
                data: ['Numbers of Repository in Different Ranges of Contributors']
            },
            xAxis: {
                name: 'Range',
                data: ['0~25','25~50','50~75','75~100','over 100']
            },
            yAxis: {
                name: 'Numbers of Repository',
            },
            series: [{
                name: 'Numbers of Repository in Different Ranges of Contributors',
                type: 'bar',
                data: [$result.get('con.0~25'),$result.get('con.25~50'),$result.get('con.50~75'),$result.get('con.75~100'),$result.get('con.over 100')]
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</div>

<div class="Chart5">
    <div id="Collaborator" align="center" style="width: 1000px;height: 800px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('Collaborator'));
        // 指定图表的配置项和数据
        var option = {
            tooltip: {},
            legend: {
                data: ['Numbers of Repository in Different Ranges of Collaborator']
            },
            xAxis: {
                name: 'Range',
                data: ['0~25','25~50','50~75','75~100','over 100']
            },
            yAxis: {
                name: 'Numbers of Repository',
            },
            series: [{
                name: 'Numbers of Repository in Different Ranges of Collaborator',
                type: 'bar',
                data: [$result.get('col.0~25'),$result.get('col.25~50'),$result.get('col.50~75'),$result.get('col.75~100'),$result.get('col.over 100')]
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</div>

<script src="/GitMining/static/js/echarts.min.js"></script>
