
  #set($layout="listlayout.vm")
  <nav class="top-nav">
      <div class="container">
          <div class="nav-wrapper"><a class="page-title">Repositories</a></div>
      </div>
  </nav>


<div ng-app="repoapp" ng-controller="generalCtrl">
    <div ng-cloak style="overflow-x: scroll;" ng-controller="generalCtrl">
        <div class="container">
            <div class="row">

                <div id="list" class="section scrollspy">
                    <div class="col s12 m9 l10">


                        <div class="row">
                            <div class="col s12">

                                <nav>
                                    <div class="nav-wrapper">
                                        <form>
                                            <div class="input-field">
                                                <input id="search" type="search" required>
                                                <label for="search"><i class="material-icons">search</i></label>
                                            </div>
                                            <div class="search-results"></div>
                                        </form>
                                    </div>
                                </nav>

                                <ul class="collapsible" data-collapsible="expandable">
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">view_module</i>Category
                                        </div>
                                        <div class="collapsible-body">

                                            <div class="container">
                                                <div class="ui very relaxed horizontal list">
                                                    #foreach($tag in $result.tags)
                                                        <div class="item">
                                                            #if($result.searchTag.get(0).equals($tag.name))
                                                                <a id="choosetype" class="ui label teal">$!tag.name</a>
                                                            #else
                                                                <a class="ui label othertype">$!tag.name</a>
                                                            #end
                                                        </div>
                                                    #end
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">language</i>Language
                                        </div>
                                        <div class="collapsible-body">
                                            <div class="container">
                                                <div class="ui very relaxed horizontal list">
                                                    #foreach($lan in $result.languages)
                                                        <div class="item">
                                                            #if($result.searchTag.get(1).equals($lan))
                                                                <a id="chooselan" class="ui label teal">$!lan</a>
                                                            #else
                                                                <a class="ui label otherlan">$!lan</a>
                                                            #end
                                                        </div>
                                                    #end
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">av_timer</i>CreateTime
                                        </div>
                                        <div class="collapsible-body">
                                            <div class="container">
                                                <div class="ui very relaxed horizontal list">
                                                    #foreach($year in $result.createYears)
                                                        <div class="item">
                                                            #if($result.searchTag.get(2).equals($year))
                                                                <a id="chooseyear" class="ui label teal">$!year</a>
                                                            #else
                                                                <a class="ui label otheryear">$!year</a>
                                                            #end
                                                        </div>
                                                    #end
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="card">
                                    <ul class="tabs">
                                        <li class="tab col s2">
                                            <a class="item" ng-class="{active: isActive.isGen}"
                                               ng-click="changerepo(1)">General</a>
                                        </li>
                                        <li class="tab col s2">
                                            <a class="item" ng-class="{active: isActive.isStar}"
                                               ng-click="changerepo(2)">Star
                                                <i class="material-icons center">import_export</i></a>
                                        </li>
                                        <li class="tab col s2">
                                            <a class="item" ng-class="{active: isActive.isFork}"
                                               ng-click="changerepo(3)">Fork
                                                <i class="material-icons center">import_export</i></a>
                                        </li>
                                        <li class="tab col s2">
                                            <a class="item" ng-class="{active: isActive.isCon}"
                                               ng-click="changerepo(4)">Contributor
                                                <i class="material-icons center">import_export</i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card">

                                    <ul class="collection">


                                        <div class="repodetails" ng-repeat="repo in generalrepos | filter:query">
                                            <div ng-show="!generalrepos.length">None avaialble</div>
                                            <li class="collection-item avatar">
                                                <img src="https://github.com/identicons/{{repo.owner_name}}.png" alt=""
                                                     class="circle">
                                        <span class="title">
                                            <a href="/GitMining/repository/content?id={{repo.id}}">{{repo.full_name}}</a>
                                        </span>
                                                <p>Last updated : {{repo.update_time}}<br>
                                                    <br>

                                                    {{repo.description}}
                                                </p>

                                                <a class="secondary-content right-align">
                                                    <div class="col s12 l4 s4 no-padding">
                                                        <i class="material-icons">grade</i>
                                                        <div class="text-center">
                                                            {{repo.stargazers}}
                                                        </div>
                                                    </div>
                                                    <div class="col s12 l4 s4 no-padding">
                                                        <i class="material-icons">call_split</i>
                                            <span class="text-center">
                                                {{repo.fork_num}}
                                            </span>
                                                    </div>
                                                    <div class="col s12 l4 s4 no-padding">
                                                        <i class="material-icons">supervisor_account</i>
                                            <span class="text-center">
                                                {{repo.contributor}}
                                            </span>
                                                    </div>
                                                </a>

                                            </li>
                                        </div>
                                        <!--pagination-->
                                        <tm-pagination conf="paginationConf"></tm-pagination>
                                        <div style="clear: both;"></div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col hide-on-small-only m3 l2">
                        <div class="toc-wrapper">
                            <div style="height: 1px;">
                                <ul class="section table-of-contents">
                                    <li><a href="#list">
                                        #if($result.searchTag.get(3).equals(""))
                                            <a id="searchkey">Repositories</a>
                                        #else
                                            <a id="searchkey">Repositories : $result.searchTag.get(3)</a>
                                        #end
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/GitMining/static/js/allrepos.js"></script>
<script src="/GitMining/static/js/library/pagination.js"></script>
<script src="/GitMining/static/js/reposervice.js"></script>
  <script src="/GitMining/static/jade/search.js"></script>
